.header {
    height: 4rem;
    background-color: hotpink;
    min-width: 100vw;

    display: flex;
    flex-direction: row;
    font-family: 'Jokerman', 'Papyrus', 'Comic Sans MS';

    border-bottom: solid 0.2ch navy;

    img {
        padding: 0.5ch;
        display: inline-block;
    }

    span {
        font-size: 1.6rem;
        align-self: center;
        color: gold;
        font-weight: bold;
    }

    img {
        animation: logoanim1 2s linear infinite;
        &:hover {
            animation: logoanim2 0.5s linear infinite;
        }
    }
}

@keyframes logoanim1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes logoanim2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}